extends layout

//- block content
//-   br
//-   br
//-   br
//-   br
//-   br
//-   h1= article.title
//-   h5 Written by #{author}
//-   p= article.body
//-   hr
//-   if user
//-     if user.id == article.room_maker 
//-       br
//-       br
//-       br
//-       a.btn.btn-default(type='button' href='/articles/edit/'+article._id) 수정
//-       a.btn.btn-danger.delete-article(href='#',data-id=article._id) 삭제
block content
  

  .container(style='margin-top: 100px')
    .row
      .col-lg-3
        #login(style='margin-top:30px')
          if user
            #user_index
              .row
                .col-lg-5
                  img(src='../image/smile.png', width='100px', style="margin-left:5px;margin-top:5px")
                .col-lg-7(style='margin-top:25px')
                  p(style='line-height:0%') #{user.name} 님,
                  | 환영합니다!
                  p(style='margin-top:15px') 알림(0)
              .row(style="padding-top:20px")
                .col-lg-6
                  button.btn.btn-primary.btn-block(type="button", style='width:100%', onclick="location.href='./mypage'") 내정보
                .col-lg-6
                  button.btn.btn-primary.btn-block(type="button" style=' width:100%' onclick="location.href='/users/logout'") 로그아웃
          else
            form(method='POST', action='/users/login', style='padding:5px')
              .form-group
                input.form-control(name='username', type='text', placeholder='아이디')
              .form-group
                input.form-control(name='password', type='password', placeholder='비밀번호')
              div
                button.btn.btn-primary.btn-block(type='submit', value='Submit') 로그인
              #but
                button(type="button" style="width:110px", onclick="location.href='./forgot'") ID/PW찾기
                button(type="button" style='margin-left : 10px; width:110px;' onclick="location.href='/users/register'") 회원가입
        #category
          p(align='center' style='font-size:1rem') 카테고리
          button.btn-ctg 식자재
          button.btn-ctg 즉석식품
          button.btn-ctg 반찬
          button.btn-ctg 음료수/아이스크림
          button.btn-ctg 커피/차
          button.btn-ctg 해외직구
          button.btn-ctg 기타
      .col-lg-8
        .row(style='margin-top:50px')
          .col-lg-5
            -var pass=article._id+"@"+article.title+"@"+article.picture_url; 
            img(src= article.picture_url, alt='사진', width='80%', onload="addThisItem('"+pass+"')")
            div(align='center' style="margin-top:1rem")
              h5 개설자가 전해주는 말
              p #{article.comment}
          .col-lg-7
            table.table.table-hover
              thead
                tr
                  th(colspan='3', style='font-size:2rem') #{article.title}
              tbody
                tr
                  td(style='width:30%') 품목
                  td #{article.item}
                tr
                  td 카테고리
                  td #{article.category}  
                tr
                  td 개설자
                  td #{author}
                tr
                  td 개설일자
                  td #{article.startdate}
                tr
                  td 마감일자
                  td #{article.deadline}
                tr
                  td 모집 인원
                  td #{article.members}
        a.btn.btn-secondary(role='button' href='/articles/edit/'+article._id, style='width:5rem; margin-right:1rem') 수정
        a.btn.btn-danger.delete-article(href='/articles/delete/'+article._id, style='width:5rem') 삭제
    
      .col-lg-1
        #recentItems
        //- p 최근목록
        //- p#recentItems
        //- nav.navbar(class='navbar-expand-xl|lg|md|sm')
        //-   ul.navbar-nav
        //-     #cur_item
        //-       h5(style='text-align:center') 최근목록
        //-       #recentItems
