extends ../layout

block content
  .container(style='margin-top: 100px')
    .row
      .col-lg-3
        #login(style='margin-top:30px')
          if user 
            #user_index
              .row
                .col-lg-5
                  img(src='../image/smile.png', width='100px', style="margin-left:5px;margin-top:5px")
                .col-lg-7(style='margin-top:25px')
                  p(style='line-height:0%') 
                    b #{user.name} 님,
                  | 환영합니다!
                  p(style='margin-top:15px') 알림(0)
              .row(style="padding-top:20px")
                .col-lg-6
                  button.btn.btn-primary.btn-block(type="button", style='width:100%', onclick="location.href='./mypage'") 내정보
                .col-lg-6
                  button.btn.btn-primary.btn-block(type="button" style=' width:100%' onclick="location.href='/users/logout'") 로그아웃
          else 
            form(method='POST', action='/users/login', style='padding:5px')
              .form-group
                input.form-control(name='username', type='text', placeholder='아이디')
              .form-group
                input.form-control(name='password', type='password', placeholder='비밀번호')
              div
                button.btn.btn-primary.btn-block(type='submit', value='Submit') 로그인
              #but
                button(type="button" style="width:110px", onclick="location.href='/'") ID/PW찾기
                button(type="button" style='margin-left : 10px; width:110px;' onclick="location.href='/users/register'") 회원가입
        #category
          p(align='center' style='font-size:1rem') 카테고리
          button(type="button" onclick="location.href='/grocery'").btn-ctg 식자재
          button(type="button" onclick="location.href='/instant'").btn-ctg 즉석식품
          button(type="button" onclick="location.href='/sidedish'").btn-ctg 반찬
          button(type="button" onclick="location.href='/drinkNIcecream'").btn-ctg 음료수/아이스크림
          button(type="button" onclick="location.href='/coffeeNTea'").btn-ctg 커피/차
          button(type="button" onclick="location.href='/overseas'").btn-ctg 해외직구
          button(type="button" onclick="location.href='/etc'").btn-ctg 기타
      #cent-menu.col-lg-8
        .row
          h2(style='margin-left:30px; margin-bottom:20px') 식자재
        .row
          each article in articles
            .col-lg-4(style='float:left; margin-bottom:20px')
              .card.text-center(style="width:100%;height:23rem")
                img.card-img-top(src=article.picture_url , alt='picture', style='height:60%')
                .card-body
                  h5.card-title
                    a(href='/articles/'+article._id)=article.title
                  p #{article.members} 명 모집            
                  p #{article.deadline} 까지
      .col-lg-1
        #recentItems